html {
    font-size: 62.5%;
}

body {
    background-color: rgb(54, 169, 223);
    color: #000;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    font-size: 3.4em;
    display: inherit;
    clear: both;
    margin-bottom: unset;
}


